<% include header %>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index">Manikanta Goud</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="index">Home</a></li>
          <li><a href="/cacluatingnoofdays">Yourchoice</a></li>
          <li><a href="/contact-me">Contact</a></li>
        </ul>
      </div>
    </nav>
  
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="row">
  
          <header class="row">
            <h1 class="col-md-12"> Introduction(Manikanta goud Bandari) </h1>
          </header>
  
          <article class="row">
  
           <div class="row">
            
            <section id="current-section col-md-8">
                <h3 class="section-header col-md-2">Education</h3>
              <h4>I am from India. Currently I am pursing masters in Applied Computer Science for this Fall 2018.
                I have completed my under graduation in Computer science stream from Teegala Krishna reddy engineering
                collge, Hyderabad, India.
              </h4>
            </section>
           </div>
  
            <div class="row">
                
                <section id="past-section col-md-8">
                    <h3 class="section-header col-md-2">Skills</h3>
                  <h4>Technical Skills:trained and certified in c,java.Able to work under high pressures.<br>Effective mangement
                    and leadership skills.
                  </h4>
                </section>
            </div>
  
            <div class="row">
               
                <section id="future-section col-md-8">
                    <h3 class="section-header col-md-2">Interests</h3>
                  <h4>Reading Novels, Exploring new places, Listening to music, playing football</h4>
                </section>
            </div>
  
            
            <div class="row">
                
                <section class="col-md-8">      
                    <h3 class="section-header col-md-4" >Contact</h3>      
                  <ul id="schedule">
                    <h4>
                      <li>Phone: +1 6605280773</li>
                      <li>Email: Manikantagoud97@gmail.com</li>
                    </h4>
                  </ul>
                </section>
            </div>
  
          </article>
        </div>
  
        <div class="image">
          <img src="/images/manikantagoud.jpg" class="img-circle" id="image">
        </div>
      </div>
  
    </div>
  
  <% include footer %>
  